@media screen and (max-width: 767px) {
  div .a{
    float: left;
    width: 100%;
  }
}
  @media screen and (max-width: 767px) {
  div .b{
    float: left;
    width: 100%;
  }
}
    
    @media screen and (max-width: 992px) {
  div {
    float: left;
    width: 100%;
  }
}
 @media screen and (max-width: 991px) {
  div .a {
    float: left;
    width: 50%;
  }
}

@media screen and (max-width: 991px) {
  div .b {
    float: right;
    width: 50%;
  }
}
@media screen and (max-width: 991px) {
  div .c{
    top:20px;
    float: left;
    width: 100%;
  }
}


  
div
{
  position:relative;
  border:5px;
}

#chicken
{
  position:absolute;
  top: 80px;
  right: 0;
  background-color:pink;
  
}
#beef
{
  float:right;
  background-color:red;
  
}
#sushi
{
  float:right;
  background-color:yellow;
  
}
