div
{
  position:relative;
  border:5px;
}

#chicken
{
  position:absolute;
  top: 80px;
  right: 0;
  background-color:pink;
  
}
#beef
{
  float:right;
  background-color:red;
  
}
#sushi
{
  float:right;
  background-color:yellow;
  
}
