body
{
  background-color:solid black;
}

#chicken
{
  position:absolute;
  float:right;
  background-color:pink;
  
}
#beef
{
  float:right;
  background-color:red;
  
}
#sushi
{
  float:right;
  background-color:yellow;
  
}
